header {
    background-image: url(images/mobilebanner.jpg);
    height: 190px;
    width: auto;
    text-align: center;
}

body {
    background-color: rgb(180, 100, 94);
    background-image: url(images/mobilebackground.jpg);
    background-size: cover;
    background-position: center;
    width: auto;
}

section {
    background-color: rgb(209, 209, 209);
    border-radius: 30px;
    width: 50%;
}

h3 {
    padding-left: 20px;
    padding-bottom: 0;
}

a {
    text-decoration: none;
    color: rgb(36, 26, 25);
}

ul :hover {
    color: blueviolet;
}

section ul {
    list-style: none;
    padding-left: 20px;
    font-family: "Imprima", sans-serif;
    font-size: 1em;
}

#top2, #bottom2 {
    display: flex;
    gap: 5%;
    margin: 5% auto;
    max-width: 750px;
}

footer {
    text-align: center;
    line-height: 4px;
    padding-top: 1px;
}

h1 {
    padding: 50px 0 0 0;
    font-family: "Orbitron", sans-serif;
    font-size: 1.875em;
    color: rgb(230, 230, 230);
}

h2 {
    font-family: "Imprima", sans-serif;
    font-size: 1.125em;
    color: rgb(230, 230, 230);
}

h3 {
    font-family: "Inria Sans", sans-serif;
    font-size: 1.125em;
    color: rgb(36, 26, 25);
    margin-bottom: -7px;
}

footer {
    color: rgb(230, 230, 230);
}

footer a {
    color: rgb(230, 230, 230);
}

@media only screen and (min-width: 600px) {
section {
    
}
}

