header {
    background-image: url(images/mobilebanner.jpg);
    height: 190px;
    width: auto;
    text-align: center;
}

body {
    background-color: rgb(180, 100, 94);
    background-image: url(images/mobilebackground.jpg);
    background-position: center;
    background-size: cover;
    margin: 15px;
}

section {
    background-color: rgb(209, 209, 209);
    border-radius: 30px;
    width: 50%;
}
section ul li a:hover {
    color: rgb(116, 9, 216);
}

section ul li a {
    transition: color 500ms ease-in;   
}

section {
    animation-name: textcolorchange;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes textcolorchange {
    0% {background-color: rgb(226, 216, 226);}
    25% {background-color: rgb(226, 198, 229);}
    50% {background-color: rgb(216, 203, 203);}
    75% {background-color: rgb(234, 209, 209);}
    100% {background-color: rgb(234, 200, 200);}
}

h3 {
    padding-left: 20px;
    padding-bottom: 0;
}

a {
    text-decoration: none;
    color: rgb(36, 26, 25);
}

section ul {
    list-style: none;
    padding-left: 20px;
    font-family: "Imprima", sans-serif;
    font-size: 1em;
}

#top2, #bottom2 {
    display: flex;
    gap: 20px;
    margin: 5% auto;
    max-width: 750px;
}

footer {
    text-align: center;
    line-height: 4px;
    padding-top: 1px;
    font-family: "Imprima", sans-serif;
    color: rgb(230, 230, 230);
    font-size: 1.125em;
}

h1 {
    padding: 15px 0 0 0;
    font-family: "Orbitron", sans-serif;
    font-size: 1.875em;
    color: rgb(230, 230, 230);
}

h2 {
    font-family: "Imprima", sans-serif;
    font-size: 1.125em;
    color: rgb(230, 230, 230);
}

h3 {
    font-family: "Inria Sans", sans-serif;
    font-size: 1.125em;
    color: rgb(36, 26, 25);
    margin-bottom: -7px;
}

footer a {
    color: rgb(230, 230, 230);
}

@media only screen and (min-width: 600px) {
header {
    background-image: url(images/desktopbanner.jpg);
    height: 250px;
    width: auto;
    background-repeat: no-repeat;
}

body {
    background-image: url(images/desktopbackground.jpg);
    background-repeat: no-repeat;
    padding: 30px;
    margin: 10px;
    padding-bottom: 60px;
}

section {
    border-radius: 40px;
    width: 275px;
    padding-bottom: 20px;
    padding-top: 10px;
}

section ul {
    font-size: 1.563em;
    line-height: 175%;
}

h1 {
    padding: 0;
    font-size: 3.75em;
    margin-bottom: 0px;
}

h2 {
    font-size: 1.8755em;
    margin-top: 10px;
}

h3 {
    font-size: 1.875em;
    margin-bottom: -7px;
}

#top2, #bottom2 {
    margin: 0;
}

#container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 50px;
    justify-content: center;
    max-width: 1200px;
    min-width: 800px;
    margin: auto;
}

footer {
    line-height: 4px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 1.5em;
}

}